header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f3e4;
  z-index: 1050;
}
.header {
  padding: 0.625rem 0;
  width: 100vw;
}
.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_login a {
  color: #212121;
  text-decoration: none;
}

.menu_login .menu_login_main a i {
  font-size: 1.25rem;
  margin-right: 0.938rem;
}
.menu_login .menu_login_main a:not(:last-child):after {
  content: "";
  border-right: 1px solid #787777;
  margin-left: 1.563rem;
}
.menu_login .menu_login_main #btn_open_search .menu_login_search_box {
  position: absolute;
  right: 0;
  bottom: 46px;
  z-index: 10000;
  width: 0;
  transition: width 0.5s ease;
  /* -webkit-transition: bottom 1s,width 1s ease;
  -moz-transition: bottom 1s,width 1s ease;
  -o-transition:bottom 1s,width 1s ease; */ 
}
.menu_login .menu_login_main #btn_open_search.active .menu_login_search_box {
  width:400px;
  right:42%;
  bottom:-46px;
  
}

.menu_login .menu_login_search_box input {
  width: 100%;
  border: none;
  background-color: #444444;
  outline: none;
  color: white;
  padding: 8px 40px 8px 10px;
}
.menu_login .menu_login_search_box form span {
  position: absolute;
  right: 0;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
.menu_login .menu_login_search_box input:placeholder {
  color: rgb(255, 255, 255);
}
.menu_login_tablet {
  display: none;
}
.menu_login_tablet i {
  font-size: 1.563rem;
}
.c-main-menu-list {
  list-style: none;
}
.c-main-menu-list li {
  position: relative;
}
.c-main-menu-list li:hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -20px;
  width: 100%;
  border-bottom: 2px solid black;
  transition: 0.3s;
}
.c-main-menu-list li:last-child:hover:after {
  left: 0;
}

.c-main-menu-list li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;

  text-align: center;
}
.c-box-mmenu {
  position: fixed;
  top: 0;
  left: -2000px;
}
@media screen and (max-width: 61.875rem) {
  .c-box-mmenu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 0;
    height: 0;
    background-color: #fff;
    z-index: 20002;
    overflow-y: scroll;
    transition: width 0.5s, height 0.5s ease;
    -webkit-transition: width 0.5s, height 0.5s ease;
    -moz-transition: width 0.5s, height 0.5s ease;
    -o-transition: width 0.5s, height 0.5s ease;
  }
  .c-box-mmenu.show {
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .c-box-mmenu a.btn-close {
    text-decoration: none;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1.25rem;
  }
  .c-box-mmenu .c-box_msearch .c-box-menu-logo {
    display: block;
    margin-top: 15px;
  }
  .c-box-mmenu .c-box_msearch .search-box {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
  }
  .c-box-mmenu .c-box_msearch .search-box form input {
    border: none;
    outline: none;
    background-color: inherit;
  }
  .c-box-mmenu ul.c-menu_mobile {
    list-style: none;
  }
   .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item{
     position: relative;
   }
  .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item:last-child a {
    border: none;
  }
  .c-box-mmenu ul.c-menu_mobile li a {
    color: rgba(0, 0, 0, 0.375);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
  }

  .c-box-mmenu ul.c-menu_mobile li a:first-child span {
    float: right;
    clear: both;
    margin-right: 30px;
  }
  .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item a span i {
    font-size: 1.25rem;
    transition:0.6s ease;
  }
  .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item.active a span i{
    transform: rotate(90deg);
  }
  .c-box-mmenu ul.c-menu_mobile .c-menu_mobile_item .dropdown_menu {
    list-style: none;
    transition :display 0.4s;
    display:none;
  }
  .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item.active .dropdown_menu{
     display:block;
     opacity:1;
  }
  .c-box-mmenu
    ul.c-menu_mobile
    .c-menu_mobile_item
    .dropdown_menu
    .dropdown_menu-item {
    padding-left: 40px;
  }
  .c-box-mmenu ul.c-menu_mobile .c-menu_mobile_item .dropdown_menu-item a {
    color: rgba(0, 0, 0, 0.867);
  }
}