* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html,
body {
  background-color: #f6f3e4;
  overflow-x: hidden;
}

.main_page .new-arrival .new-arrival-title {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}
.main_page .new-arrival .new-arrival-title a {
  color: #494747;
  text-decoration: none;
  font-weight: 100;
  font-size: 2.188rem;
  text-transform: uppercase;
}
.main_page .new-arrival .new-arrival-title a:hover {
  opacity: 0.6;
}
.main_page .new-arrival-show .new-arrival-show-item a {
  text-decoration: none;
  color: black;
}
.main_page .new-arrival-show .new-arrival-show-item a .card {
  background-color: inherit;
  border: none;
  border-radius: 0;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .card-img {
  position: relative;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .card-img img {
  max-width: 100%;
  height: auto;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .img-sec {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;

  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.main_page
  .new-arrival-show
  .new-arrival-show-item
  a
  .card
  .card-img
  .img-first {
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.main_page
  .new-arrival-show
  .new-arrival-show-item
  a
  .card
  .card-img:hover
  .img-sec {
  opacity: 1;
}

.main_page .new-arrival-show .new-arrival-show-item a .card-body h5,
.main_page .new-arrival-show .new-arrival-show-item a .card-body p {
  font-size: 0.875rem;
  font-weight: 600;
}
.main_page .new-arrival-show .new-arrival-show-item a .card-body p {
  opacity: 0.5;
  font-weight: 300;
}
.main_page .new-arrival-show .new-arrival-show-item a .card-body p:hover {
  font-weight: 600;
  opacity: 1;
}
.contact-to-instagram .contact-to-instagram-title p {
  font-size: 2.063rem;
  opacity: 0.9;
}
.contact-to-instagram .contact-to-instagram-title span {
  font-size: 1.25rem;
  font-weight: 300;
  opacity: 0.7;
}

/* foooter */
.promotions-card {
  border-right: 1px solid rgba(98, 97, 97, 0.193);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.promotions-card .card-body p {
  font-size: 0.875rem;
}
.promotions-card .card-body {
  font-size: 0.813rem;
}

.promotions-card img {
  margin-top: 20px;
  width: 2.125rem;
  height: auto;
}
.infomation-shop-support {
  font-size: 1.063rem;
}
.infomation-shop-description {
  color: #212121b4;
  font-size: 17px;
}
.infomation-shop-support p a {
  text-decoration: none;
  color: #212121c5;
  text-transform: uppercase;
}
.infomation-shop-contact a {
  text-decoration: none;
  color: #212121c5;
}
.hidden {
  display: none;
}

  .c-box-mmenu{
    position:fixed;
    top:0;
    left:-2000px;
  }
@media screen and (max-width: 61.875rem) {
   .c-box-mmenu{
    position: fixed;
    top: 0;
    left: -200px;
    width: 0;
    height: 0;
    background-color: #fff;
    z-index: 20002;
    overflow-y: scroll;
    transition: width 0.5s, height 0.5s ease;
    -webkit-transition: width 0.5s, height 0.5s ease;
    -moz-transition: width 0.5s, height 0.5s ease;
    -o-transition: width 0.5s, height 0.5s ease;
 }
  .c-box-mmenu.show {
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .c-box-mmenu a.btn-close {
    text-decoration: none;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1.25rem;
  }
  .c-box-mmenu .c-box_msearch .c-box-menu-logo {
    display: block;
    margin-top: 15px;
  }
  .c-box-mmenu .c-box_msearch .search-box {
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
  }
  .c-box-mmenu .c-box_msearch .search-box form input {
    border: none;
    outline: none;
    background-color: inherit;
  }
  .c-box-mmenu ul.c-menu_mobile {
    list-style: none;
  }
  .c-box-mmenu ul.c-menu_mobile li.c-menu_mobile_item:last-child a {
    border: none;
  }
  .c-box-mmenu ul.c-menu_mobile li a {
    color: rgba(0, 0, 0, 0.375);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
  }
  .c-box-mmenu ul.c-menu_mobile li a:first-child span {
    float: right;
    clear: both;
    margin-right: 30px;
  }
  .c-box-mmenu ul.c-menu_mobile li a:first-child span i {
    font-size: 1.25rem;
  }
  .c-box-mmenu ul.c-menu_mobile .c-menu_mobile_item .dropdown_menu {
    list-style: none;
  }
  .c-box-mmenu
    ul.c-menu_mobile
    .c-menu_mobile_item
    .dropdown_menu
    .dropdown_menu-item {
    padding-left: 40px;
  }
  .c-box-mmenu ul.c-menu_mobile .c-menu_mobile_item .dropdown_menu-item a {
    color: rgba(0, 0, 0, 0.867);
  }
}
