* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html,
body {
  background-color: #f6f3e4;
  overflow-x: hidden;
}

.header {
  padding: 0.625rem 0;
  width: 100vw;
}
.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_login a {
  color: #212121;
  text-decoration: none;
}

.menu_login .menu_login_main a i {
  font-size: 1.25rem;
  margin-right: 0.938rem;
}
.menu_login .menu_login_main a:not(:last-child):after {
  content: "";
  border-right: 1px solid #787777;
  margin-left: 1.563rem;
}
.menu_login_tablet {
  display: none;
}
.menu_login_tablet a {
  font-size: 1.875rem;
}
.c-main-menu-list {
  list-style: none;
}
.c-main-menu-list li {
  position: relative;
}
.c-main-menu-list li:hover:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -20px;
  width: 100%;
  border-bottom: 2px solid black;
  transition: 0.3s;
}
.c-main-menu-list li:last-child:hover:after {
  left: 0;
}

.c-main-menu-list li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;

  text-align: center;
}
.banner-slide {
  overflow: hidden;
  position: relative;
}
.banner-slide .banner-slide-item {
  width: 100%;
}

.banner-slide .dot-slide {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.banner-slide .dot-slide .dot-slide-item {
  background-color: #a8a5a3;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: none;
  margin-left: 20px;
}
.main_page .new-arrival .new-arrival-title {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}
.main_page .new-arrival .new-arrival-title a {
  color: #494747;
  text-decoration: none;
  font-weight: 100;
  font-size: 2.188rem;
  text-transform: uppercase;
}
.main_page .new-arrival .new-arrival-title a:hover {
  opacity: 0.6;
}
.main_page .new-arrival-show .new-arrival-show-item a {
  text-decoration: none;
  color: black;
}
.main_page .new-arrival-show .new-arrival-show-item a .card {
  background-color: inherit;
  border: none;
  border-radius: 0;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .card-img {
  position: relative;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .card-img img{
  max-width:100%;
  height:auto;
}
.main_page .new-arrival-show .new-arrival-show-item a .card .img-sec {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;

  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.main_page
  .new-arrival-show
  .new-arrival-show-item
  a
  .card
  .card-img
  .img-first {
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.main_page
  .new-arrival-show
  .new-arrival-show-item
  a
  .card
  .card-img:hover
  .img-sec {
  opacity: 1;
}

.main_page .new-arrival-show .new-arrival-show-item a .card-body h5,
.main_page .new-arrival-show .new-arrival-show-item a .card-body p {
  font-size: 0.875rem;
  font-weight: 600;
}
.main_page .new-arrival-show .new-arrival-show-item a .card-body p {
  opacity: 0.5;
  font-weight: 300;
}
.main_page .new-arrival-show .new-arrival-show-item a .card-body p:hover {
  font-weight: 600;
  opacity: 1;
}
.contact-to-instagram .contact-to-instagram-title p{ 
  font-size:2.063rem;
  opacity:0.9;
}
.contact-to-instagram .contact-to-instagram-title span{
  font-size:1.25rem;
  font-weight:300;
  opacity: 0.7;  
}

/* foooter */
.promotions-card{
  border-right:1px solid rgba(98, 97, 97, 0.193);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;

  

}
.promotions-card .card-body p {
  font-size:14px;
}
.promotions-card .card-body {
  font-size:13px;

}

.promotions-card img{
  margin-top:20px;
  width:34px;
  height:auto;
}
.infomation-shop-support{
  font-size:17px;
}
.infomation-shop-description {
  color:#212121b4;
  font-size:17px;
}
.infomation-shop-support p a{
   text-decoration: none;
   color:#212121c5;
   text-transform: uppercase;
}
.infomation-shop-contact a{
  text-decoration: none;
  color:#212121c5;
}
.hidden {
  display: none;
}
