@media screen and (min-width: 36rem) and (max-width: 48rem) {
  header{
    position:absolute;
  }
  .main_header .logo {
    display: none;
  }

  .menu-header .menu_login .menu_login_main {
    display: none;
  }
  .menu-header .menu_login .menu_login_tablet {
    display: block;
  }
  .c-main-menu {
    display: none;
  }
}
@media screen and (max-width: 35.938rem) {
  header {
    background-color: transparent;
  }
  .main_header .logo {
    display: none;
  }
  
  .menu-header .menu_login .menu_login_main {
    display: none;
  }
  .menu-header .menu_login .menu_login_tablet {
    display: block;
  }
  .c-main-menu {
    display: none;
  }
  .main_page .new-arrival .new-arrival-title a {
    font-size: 1.25rem;
  }
}
