@media screen and (min-width:61.938rem) and (max-width:64rem) {
    
    .main_header .logo a img{
        height:1.875rem;
    }
    .menu_login{
        margin-top:0.625rem;
    }
    .c-main-menu{
        display:none;
    }
}